<div class="head">
    <div class="cart">
        <button type="button" (click)="sum()">CART</button>
        <br>
        <input type="text" value="{{a}}" style="width: 40px;height: 30px;">
    </div><br><br>
    <div class="item">
        <div class="1"><img src="../../assets/img/images.jpg">
            <div>TEMPER GLASS</div>
            <input type="text" [(ngModel)]="price">

        </div>
        <button type="button" (click)="onSub()"><i class="fa fa-minus">-</i></button>
        <input type="text" value="{{count}}">
        <button type="button" (click)="onAdd()"><i class="fa fa-plus">+</i></button>
    </div>
    
</div>